#form{
    width: 80%;
    padding-top: 5%;
    margin: auto;
    padding-bottom: 3%;
}
#but{
    padding-top: 2%;
    margin: auto;
    text-align: right;
}
#C1{
    text-align: center;
    padding-top: 2%;
}
#card{
    width: 90%;
    margin: auto;
    background-color: #256D85;
}
#ca_gr{
    

}
#cr_br{
    padding: 30 0 30 0;
    
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
#map{
    height: 300px;
}
body{
}
backgroung-image{
    opacity: 0.5;
}
.navbar{
    background-color: none ;
    color: white;
}
.navbar-brand{
    color: white;
}

#card-list{
    background-color: #256D85;
}
#cr_br_in{
    background-color: rgba(0, 171, 179, 0.5);
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#in_info_sin{
    padding-bottom: 5%;
    padding-top: 5%;
    
}
#in_info_sim{
    padding-bottom: 5%;
}
#card_in{
    background-color: none;
    border: 0cm;
    opacity: 100%;
    padding-left: 5%;
}
#in_2{
    
}
#faq_bg{
    background-color:rgba(255, 255, 255, 0.5);
    margin-right: 5%;
    margin-top:3%;
    margin-bottom:3%;
    margin-left: 5%;
     
    padding: 0% 5% 3% 1%; 
    border-radius: 3%;
}
#footer{
    color: white;
    margin-bottom:0;
    
    background-color:#256D85;
}
#con{
    height: 60%;
    padding-left:2%;
    background-color: rgba(0, 171, 179, 0.5) !important;
    color: white;
}
#head{
    background-color: rgb(44, 46, 67,0.5) !important;
    background-image: url('GettyImages-874837640.jpg');
    background-size: 100% 100%;
   
   
}
#head_2{
    background-color: rgba(0, 171, 179, 0.5) !important;
    
}
.navbar-brand{
    font-family: 'Fasthand', cursive;
}
.brand{
    font-family: 'Fasthand', cursive;
    font-size: 900%;
    padding-top: 7%;
    color: antiquewhite;
}
#card_body{
    padding-right: 5%;
}
#col_nam{
    font-family: 'Raleway', sans-serif;
}
li{
    text-decoration: none;
}
.navbar-brand{
    font-size: 200% !important;
}
.nav-link{
    
        font-size: 150% !important;
    
}
#nav-hom{
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center !important;
}

  
  @import url('https://css.gg/pin.css');  