@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root {
    --gradient: linear-gradient(90deg, #0f69f1, #6295f5);
    --primary-color: #1261f3;
    --wt: #fff;
    --nav: #5588e6;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--primary-color);
    color: var(--wt);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: #333;
    width: 0.8rem;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#0f69f1, #1261f3);
    border-radius: 10px;

}

section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

/* button */
.btn {
    padding: 1.5rem 4rem;
    font-size: 2rem;
    color: var(--wt);
    background: var(--nav);
    border-radius: 8px;
    /* margin-top: 1rem; */
    border: none;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: -100%;
    background-color: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: .3s linear;
    left: 120%;
}

/* navbar */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 7%;
    background-color: transparent;
    z-index: 1000;
    border-radius: 0px 0px 6px 6px;
}

header .logo {
    color: var(--wt);
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: var(--wt);
    font-family: 'Poppins', sans-serif;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: aquamarine;
}

header #menu {
    font-size: 3rem;
    color: var(--wt);
    cursor: pointer;
    display: none;
}

.header.active .logo {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.header.active ul>li>a {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: none;
    /* color: #121212 !important; */
    color: var(--wt) !important;
}

.header.active {
    /* background-color: rgba(250, 250, 250, 0.98); */
    background-color: #333;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* Hero Section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-image: -webkit-linear-gradient(rgba(35, 35, 35, 0.75), rgba(39, 39, 39, 0.75)), url(./images/herobg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.home .trans {
    padding: .9rem 5rem;
    background-color: transparent;
    border-radius: 6px;
    border-color: #333;
    font-size: 20px;
    color: var(--wt);
}

section.home .search .drop {
    padding: 20px;
}

section.home .search .drop .drop_control {
    font-size: 20px;
    padding: 1.5rem 9rem;
    border-radius: 6px;
}

section.home .search {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    margin-bottom: 60px;
}

/* Hero Section */
section.hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

section.banner-content {
    width: 100%;
    padding-top: 35vh;
    text-align: center;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(rgba(14, 14, 14, 0.75), rgba(22, 22, 22, 0.75)), url(./images/university.jpg);
    background-size: cover;
    background-position: center;
}

.banner-content .text-content {
    text-align: center;
}

.banner-content .text-content h2 {
    font-size: 36px;
    font-weight: 400;
    color: var(--wt);
}

.banner-content .text-content p {
    color: var(--wt);
    font-size: 20px;
    line-height: 24px;
    padding: 0px 25%;
    margin-bottom: 60px;
}

.banner-content .text-content button {
    padding: .9rem 5rem;
    background-color: transparent;
    border-radius: 6px;
    border-color: #222;
    font-size: 20px;
    color: var(--wt);
}


/* FAQ's */
section.banner-faq {
    padding-top: 35vh;
    text-align: center;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(rgba(14, 14, 14, 0.75), rgba(22, 22, 22, 0.75)), url(./images/faq.jpg);
    background-size: cover;
    background-position: center;
}

section.hero1 {
    width: 100%;
    min-height: 50vh;
}

.banner-faq .text-content {
    text-align: center;
}

.banner-faq .text-content h2 {
    font-size: 36px;
    font-weight: 400;
    color: var(--wt);
}

.banner-faq .text-content p {
    color: var(--wt);
    font-size: 20px;
    line-height: 24px;
    padding: 0px 25%;
    margin-bottom: 60px;
}

.banner-faq .text-content button {
    padding: .9rem 5rem;
    background-color: transparent;
    border-radius: 6px;
    border-color: #222;
    font-size: 20px;
    color: var(--wt);
}

section.ques .faq_box {
    margin-bottom: 10px;
}

section.ques .faq_box button {
    font-size: 20px;
}

section.ques .faqhead {
    margin-bottom: 23px;
}

section.ques .faqhead h1 {
    font-size: 20px;
}

.collapsible {
    background-color: rgb(172, 170, 170);
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 6px;
    text-align: left;
    outline: none;
    font-size: 15px;
}

section.ques .faq_box .active,
.collapsible:hover {
    background-color: rgb(107, 107, 107);
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--wt);
}

.content p {
    font-size: 16px;
    padding: 10px;
}


/* cards */
section.cards {
    padding: 40px;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(rgba(14, 14, 14, 0.75), rgba(22, 22, 22, 0.75)), url(./images/canadaSym.png);
    background-size: cover;
    background-position: center;
}

section.cards .card1 {
    display: flex;
    flex-direction: column;
    margin: 10rem;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--nav);
}

/* checkbox */
.main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}

input[type=checkbox] {
    visibility: hidden;
}

.inside {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--wt);
    border-radius: 4px;
}

.main:hover input~.inside {
    background-color: gray;
}

.main input:active~.inside {
    background-color: white;
}

.main input:checked~.inside {
    background-color: rgb(102, 255, 0);
}

.inside:after {
    content: "";
    position: absolute;
    display: none;
}

.main input:checked~.inside:after {
    display: block;
}

.main .inside:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

section.cards .card1 .main {
    float: left;
    flex-direction: column;
}

section.cards .card1:hover {
    background-color: rgba(21, 20, 20, 0.416);
    cursor: pointer;
}

section.cards .card1 .head {
    text-align: center;
    margin-bottom: 20px;
}

section.cards .card1 .head h1 {
    font-size: 35px;
    color: var(--wt);
}

section.cards .card1 .head p {
    font-size: 16px;
    color: var(--wt);
}

section.cards .card1 li {
    list-style: none;
}

section.cards .card1 a {
    font-size: 15px;
    color: var(--wt);
}

section.cards .card1 i {
    color: var(--wt);
}

section.cards .card1 .boxes {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

section.cards .card1 .boxes .box1 {
    width: 120px;
    height: 70px;
    background-color: #6d99da;
    border-radius: 6px;
    padding: 13px;
    margin: 10px;
}

section.cards .card1 .boxes .box1 a {
    line-height: 23px;
}

/* contact */
.contact {
    background: #111;
}

.contact .heading {
    font-size: 3rem;
    color: #fff;
}

.contact .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .con-form {
    flex-basis: 50%;
    margin: 15px;
}

.contact .row .con-form form {
    flex: 1 1 50rem;
    background: #222;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row .con-form form .box {
    height: 5rem;
    width: 49%;
    border: .1rem solid #eee;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #fff;
    background: none;
    border-radius: 8px;
    text-transform: none;
}

.contact .row .con-form form .box:focus {
    border-color: #1261f3;
}

.contact .row .con-form form .box::placeholder {
    text-transform: capitalize;
}

.contact .row .con-form form .address {
    height: 15rem;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.contact .row .con-form form .btn:hover {
    background: #fff;
    color: #333;
}

.contact .row .adress {
    flex-basis: 40%;
    margin: 15px;
}

.contact .row .adress .adr-details {
    flex: 1 1 50rem;
    background: #222;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row .adress .adr-details ul li i {
    color: var(--primary-color);
}

.contact .row .adress .adr-details ul {
    align-items: center;
    list-style: none;
}

.contact .row .adress .adr-details ul li {
    font-size: 2rem;
    color: var(--wt);
    flex-direction: row;
    justify-items: center;
    padding: 20px;
}


/* footer */
.footer {
    background: #333;
}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box {
    margin: 1.5rem;
    text-align: center;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--wt);
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.7rem;
    color: #eee;
    padding: .7rem 0;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: var(--primary-color);
}

.footer .box-container .box a {
    font-size: 1.8rem;
    display: block;
    padding: .5rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
}

.footer .credit {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: var(--wt);
    background: rgb(41, 41, 41);
    text-align: center;
    font-weight: normal;
    padding-bottom: 2rem;
}



/* media query */

@media (max-width: 789px) {
    .contact .row .con-form {
        flex-basis: auto;
        margin: 15px;
    }

    .contact .row form .box {
        width: 100%;
    }

    .contact .row .adress {
        flex-basis: 100%;
        margin: 15px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    header {
        border-radius: 0px 0px 6px 6px;
    }

    header #menu {
        display: block;
    }

    .header.active #menu {
        font-size: 3rem;
        color: var(--primary-color);
        cursor: pointer;
    }

    header .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background: var(--gradient);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }

    .header.active ul>li>a {
        font-weight: bold;
        color: var(--wt) !important;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        color: aquamarine;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        top: 6.4rem;
    }

    section.cards .card1 {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 8px;
        background-color: var(--nav);
    }

    .contact .row {
        flex-direction: row;
    }


}


@media (max-width: 500px) {
    html {
        font-size: 50%;
    }

    section.cards .card1 .boxes {
        flex-direction: column;
    }

    section.home .search {
        flex-direction: column;
    }

    section.home .search .drop .drop_control {
        padding: 1rem 3rem;
        font-size: 15px;
    }

    .contact .row form .box {
        width: 100%;
    }

}